{
    admin off
    auto_https off
}

:8080 {
    log {
        output stdout
        format console
    }

    # Upstream SumDB tile proxy
    handle_path /sumdb/* {
        reverse_proxy sumdbproxy:8089
    }

    # Grafana Dashboard UI
    handle /grafana* {
        reverse_proxy grafana:3000
    }

    # Core VIndex daemon: UI, C2SP REST API, checkpoints, tiles
    handle {
        reverse_proxy vindexd:8080
    }
}
